<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Banker</title>
  </head>
  <body>
    <div id="banker-view">
      <div v-if="users.length">
        <ul>
          <li v-for="user in users">{{user.username}}</li>
          <li v-for="user in users">{{user.email}}</li>
        </ul>
      </div>
    </div>
    <script>
      var app = new Vue({
        el: '#banker-view',
        data: {
          message: 'banker',
          users: [],
        },
        created: function () {
          this.getUsers();
        },
        methods: {
          getUsers: function () {
            axios
              .get('http://localhost:3000/api/users')
              .then((response) => {
                this.users = response.data;
                console.log(response.data);
              })
              .catch((error) => {
                console.log(error);
              });
          },
        },
      });
    </script>
  </body>
</html>
