<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Banker</title>
  </head>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
  <body>
    <div id="banker-view">
      <h1>Banker</h1>
      <div v-if="users.length">
        <table>
          <thead>
            <tr>
              <th>Account ID</th>
              <th>Customer Name</th>
              <th>Total Balance</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="user in users">
              <td>{{user.accountId}}</td>
              <td>
                <a :href="`/dashboard/${user.accountId}`">{{user.username}}</a>
              </td>
              <td>{{user.balance}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script>
      var app = new Vue({
        el: '#banker-view',
        data: {
          message: 'banker',
          users: [],
        },
        created: function () {
          this.getUsers();
        },
        methods: {
          getUsers: function () {
            axios
              .get('http://localhost:3000/api/users/balance')
              .then((response) => {
                this.users = response.data;
                console.log(response.data);
              })
              .catch((error) => {
                console.log(error);
              });
          },
        },
      });
    </script>
  </body>
</html>
